@{
  Layout = "_Layout";
}

@model ParksClient.Models.Park;

<div class="jumbotron">
  <h2> Are you sure you want to delete: @Html.DisplayTextFor(model => model.Name)</h2>
</div>

<div class='content'>
  <form asp-action="Delete" asp-controller="Parks" method="post">
    @Html.HiddenFor(model => model.Id)
    <br>
    <input type="submit" value="Delete" class="btn btn-secondary" />
  </form>
</div>

<div class='links'>
  <a href="/parks/@Model.Id">Park details</a>
</div>