@{
  Layout = "_Layout";
}
<div class=jumbotron>
  <h1>Park Finder</h1>
</div>


<div class="links">
  <a href="/register">Register an account</a>
  <a href="/login">Sign in</a>
  <a href="/parks">View parks</a>
</div>
